/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
.smart-form .btn {
	padding: 6px 12px;
	border-radius: 2px;
	margin-bottom: 0;
}
media="screen"
.panel {
  margin-bottom: 18px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body {
  padding: 15px;
}
.panel-default {
  border-top-color: #a3a3a3;
  border-left-color: #a3a3a3;
  border-bottom-color: #ccc;
  border-right-color: #ccc;
}
.input-group .form-control.datepicker {
	z-index: 1080 !important;
}
.modal-footer .radio-group-horizontal {
	float:left;
}
.radio-group-horizontal .radio{
	display: inline-block;
	margin-right: 10px;
	margin-top: 0;
}