.secure-text{
    min-width: 85px;
    display: inline-block;
    vertical-align: middle;
}
.secure-get-password{
    display: inline-block;
    padding: 6px 12px;
    border-radius: 2px;
}
.secure-input{
    display: block;
    padding: 6px 0 6px 10px !important;
    width: calc(100% - 11px);
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-sizing: inherit;
}
.secure-input-get-password, .secure-input-get-password:active, .secure-input-set-password, .secure-input-set-password:active{
    position: absolute !important;
    top: 0;
    left: calc(100% - 100px) !important;
    width: 100px;
    padding: 6px 12px;
    border-radius: 2px;
}
.detail-view .secure-text-get-password {
    padding: 0 5px;
}
.secure-input-block, .secure-text-block {
    position: relative;
}
#errors {
    color: red;
}
